body {
  margin: 0px;
  padding: 0px;
  background: #282a36;
  color: #6272a4;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.4rem;
}

h1, h2, h3 {
  font-family: 'verdana';
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  line-height: normal;
  color: #50fa7b;
}

h2 {
  font-size: 3rem;
  color: #f1fa8c;
}

h3 {
  font-size: 2rem;
  color: #ffb86c;
}